@font-face {
  font-family: 'Carmen Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Regular'),
    url('./assets/fonts/carmen-sans/Carmen Sans Regular.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Thin'),
    url('./assets/fonts/carmen-sans/Carmen Sans Thin.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans UltraLight'),
    url('./assets/fonts/carmen-sans/Carmen Sans UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Light'),
    url('./assets/fonts/carmen-sans/Carmen Sans Light.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Medium'),
    url('./assets/fonts/carmen-sans/Carmen Sans Medium.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans SemiBold'),
    url('./assets/fonts/carmen-sans/Carmen Sans SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Bold'),
    url('./assets/fonts/carmen-sans/Carmen Sans Bold.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans ExtraBold'),
    url('./assets/fonts/carmen-sans/Carmen Sans ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Carmen Sans Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('Carmen Sans Heavy'),
    url('./assets/fonts/carmen-sans/Carmen Sans Heavy.woff') format('woff');
}
